.footer-bottom {
    margin-top: 50px;
    background:#d8d8d8;
    padding:15px 0;
    border-top:1px solid #d9d9d9;
    font-size:11px;
    color:#777;
}
h1.page-header {
    margin-top: -5px;
}
#side-menu{
  border: 1px solid #ddd;
  border-radius:3px;


}
.sidebar {
    padding-left: 0;
}

.main-container {
    background: #FFF;
    padding-top: 15px;
    margin-top: -20px;
}

.footer {
    width: 100%;
}

/*------------ entry plan -------------*/
.capture{
    color: #2a71d0;

}
.description{
    flex: 1;
    margin: 22px 14px 22px 14px;
    padding: 0 10px;
    border-left: 4px solid #bcdeff;
}

/*------------ first page ---------------*/
.dropcap_blue,
.dropcap_yellow,
.dropcap_red{
    border-radius: 100px 100px 100px 100px;
    display: block;
    float: left;
    font-size: 18px;
    line-height: 35px;
    margin: 4px 8px 0 0;
    text-align: center;
    width: 35px;
}


.dropcap_blue {background: #1a47c7; color: #FFF}
.dropcap_red {background: #c7281e; color: #FFF}
.dropcap_yellow {background: #e3b635; color: #FFF}

.three a,.four a{
    text-decoration: none;
}

/*------------------  panel  ---------------------*/

.panel_slide{
    display:block;
    /*width:30px;*/
   /* height:150px;*/
    position:fixed;
    right:-250px;
    top:70%;
    z-index: 99;

}
.temp_slider{
    display:block;
    /*width:30px;*/
    /* height:150px;*/
    position:fixed;
    right:-250px;
    top:10%;
    z-index: 99;
}

