#toper{
    background-color: white;
}

/*-------- strip -------------*/

.karkas{
    margin-top:10px;
    width: 100%;
    padding: 80px 0 80px 0;
    background: #e0e0e0;
    background-image: url("../images/price/banner.png");
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    /*font-size: 18px;*/

}
.img2{
    width: 80px;
    height: 50px;
    float: left;
    font-size: 18px;
}
.less{
    height: 50px;
    width: 680px;
    display: table-cell;
    vertical-align: middle;
    border: solid 1px #c8c8c8;
    background-color: #ffffff;
}
.update-nag{
    display: inline-block;
    font-size: 14px;
    text-align: left;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    height: 40px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin-bottom: 10px;

    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.update-nag:hover{
    cursor: pointer;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);

    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}

.update-nag > .update-split{

    width: 36px;
    float: left;
    color: #fff!important;
    height: 100%;
    text-align: center;
}

.update-nag > .update-split > .glyphicon{
    position:relative;
    top: calc(50% - 15px)!important; /* 50% - 3/4 of icon height */
    font-size: 1.6em;
}
.update-nag > .update-text{
    float:left;
    color: #435184;
    font-size: 1em;
    line-height: 19px;
    padding-top: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

/*----------  detal      ---------*/

.caption_cena{
    color: #1bae1b;
    font-weight: bolder;
    font-size: 0.8em;
}
.left_block{
    font-size: 1.8em;
    font-weight: normal;
    font-family: 'Open Sans Condensed',sans-serif;
    margin: 12px 0 0 0;
    /*color: #435184;*/
}

.duration{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    /*line-height: 1.6;*/
}
.block_main ul{
    list-style-position: outside;
}
.block_main h2,.block_main h3,
.block_main h4,.block_main h5{
    margin-top:0;
}

/*-------------- chart ------------------*/
.outbox{
    width: 90px;
    height: 300px;
    border-right: solid 1px #2db514;

}
.inbox{
    width: 180px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    margin-bottom: 30px;
    border: solid 1px #c8c8c8;
    background-color: #423aff;
    border-radius:5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 23;

}
.gorizont_1{
    width: 540px;
    height: 20px;
    border-bottom: solid 1px #46c73c;
    z-index: 21;
}
.gorizont_2{
    margin-top: 50px ;
    width: 540px;
    height: 20px;
    border-bottom: solid 1px #50c839;
    z-index: 21;
}
.inbox_side_1{
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    margin-bottom: 30px;
    margin-left: 220px;
    margin-top: -70px;
    border: solid 1px #c8c8c8;
    background-color: #e8e8e8;
    border-radius:5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    z-index: 23;
}
.inbox_side_2{
      float: left;
      width: 180px;
      height: 40px;
    line-height: 40px;
    white-space: nowrap;
      margin-bottom: 30px;
      margin-left: 440px;
      margin-top: -70px;
      border: solid 1px #c8c8c8;
      background-color: #e8e8e8;
    border-radius:5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
      z-index: 23;
  }